
@import "tailwindcss";

@theme {
  --font-ibmono: 'IBM Plex Mono', monospace;
  
  --color-redblack:#52223C;
  --color-redsecond: #6C3751;
  --color-grayp: #6B666D;
  --color-greenp:#8EAA94;
  --color-fondo1:#E8D7A9;
  --color-fondo2:#FFF5D9;
  /* ... */
}